.App {
  text-align: center;
}

.navBar {
  background-color: lightgray;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: black;
  margin-top: 5px;
  text-transform: uppercase;
  font-weight: bold;
  height: 60px;
}

.home {
  font-size: 2rem;
  margin-left: 2rem;
}